altair==4.2.2
astropy==5.3.4
beautifulsoup4==4.12.3
bokeh==3.3.4
certifi==2024.7.4
chardet==5.2.0
click==8.1.7
cloudpickle==2.2.1
cryptography==42.0.8
cycler==0.12.1
decorator==4.4.2
fastai==2.7.15
h5py==3.9.0
idna==3.7
importlib-metadata==8.0.0
joblib==1.4.2
kiwisolver==1.4.5
lightgbm==4.1.0
matplotlib==3.7.1
numpy==1.25.2
oauthlib==3.2.2
pandas==2.0.3
Pillow==9.4.0
protobuf==3.20.3
pyasn1==0.6.0
pycparser==2.22
pyOpenSSL==24.1.0
python-dateutil==2.8.2
pytz==2023.4
requests==2.31.0
rsa==4.9
scikit-learn==1.2.2
